<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escape</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Oxygen&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/pages/main.js" defer></script>
</head>

<body>
    <header class="header">
        <div class="header__nav nav-menu">
            <img class="nav-menu__logo" src="/static/img/Escape.svg" alt="Logo">
            <nav class="nav-menu__nav-items nav-items">
                <a class="nav-items__item nav-items__item-color-white" href="#">Home</a>
                <a class="nav-items__item nav-items__item-color-white" href="#">Categories</a>
                <a class="nav-items__item nav-items__item-color-white" href="#">About</a>
                <a class="nav-items__item nav-items__item-color-white" href="#">Contact</a>
            </nav>
        </div>
        <h1 class="header__title">Let's do it together.</h1>
        <p class="header__slogan">We travel the world in search of stories. Come along for the ride.</p>
        <button class="header__button">View Latest Posts</button>
    </header>
    <nav class="nav-block">
        <a class="nav-block__item" href="#">Nature</a>
        <a class="nav-block__item" href="#">Photography</a>
        <a class="nav-block__item" href="#">Relaxation</a>
        <a class="nav-block__item" href="#">Vacation</a>
        <a class="nav-block__item" href="#">Travel</a>
        <a class="nav-block__item" href="#">Adventure</a>
    </nav>
    <main class="main-block">
        <section class="main-block__chapter chapter">
            <h2 class="chapter__title">Featured Posts</h2>
            <div class="chapter__cards cards">
                {{ range .FeaturedPosts }}
                <div class="cards__big-card big-card" style="background: url({{.ImgPost}}); background-size: 100% 100%">
                    {{ if .Label }}
                    <span class="big-card__icon">{{ .Label }}</span>
                    {{ end }}
                    <h3 class="big-card__title">{{ .Title }}</h3>
                    <p class="big-card__description">{{ .Subtitle }}</p>
                    <div class="big-card__about-block about-block">
                        <img class="about-block__avatar" src="{{ .Avatar }}" alt="{{ .Author }}">
                        <span class="about-block__name">{{ .Author }}</span>
                        <span class="about-block__date">{{ .PostDate }}</span>
                    </div>
                </div>
                {{ end }}
            </div>
        </section>
        <section class="main-block__chapter chapter">
            <h2 class="chapter__title">Most Recent</h2>
            <div class="chapter__cards cards">
                {{ range .MostRecent }}
                <div class="cards__small-card small-card">
                    <img class="small-card__img" src="{{ .ImgPost }}" alt="{{ .Title }}">
                    <h3 class="small-card__title">{{ .Title }}</h3>
                    <p class="small-card__description">{{ .Subtitle }}</p>
                    <div class="small-card__about-block about-block">
                        <img class="about-block__avatar" src="{{ .Avatar }}" alt="{{ .Author }}">
                        <span class="about-block__name">{{ .Author }}</span>
                        <span class="about-block__date">{{ .PostDate }}</span>
                    </div>
                </div>
                {{ end }}
            </div>
        </section>
    </main>
    <footer class="footer">
        <form class="footer__form form" action="#" method="get">
            <h3 class="form__title">Stay in Touch</h3>
            <div class="form__email-form email-form">
                <input class="email-form__input" type="email" name="email" id="email"
                    placeholder="Enter your email address" required>
                <button class="email-form__button" type="submit">Submit</button>
            </div>
        </form>
        <div class="footer__nav-menu">
            <div class="nav-menu">
                <img class="nav-menu__logo" src="/static/img/Escape.svg" alt="Logo">
                <nav class="nav-menu__nav-items nav-items">
                    <a class="nav-items__item nav-items__item-color-gray" href="#">Home</a>
                    <a class="nav-items__item nav-items__item-color-gray" href="#">Categories</a>
                    <a class="nav-items__item nav-items__item-color-gray" href="#">About</a>
                    <a class="nav-items__item nav-items__item-color-gray" href="#">Contact</a>
                </nav>
            </div>
        </div>
    </footer>
</body>

</html>